{% extends 'review/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="mb-4">Suivre d'autres utilisateurs</h2>
        </div>
        <form class="form-inline row justify-content-center" method="POST" action=" {% url 'abonnements' %} ">
            {% csrf_token %}
            <input class="form-control rounded mx-2" type="search" placeholder="Nom d'utilisateur" aria-label="Search" name="search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Envoyer</button>
        </form>
        {% if users %} 
            <div class="container col-md-10">
                <table class="table table-bordered mt-4">
                    <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th class="text-center">action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td class="text-center">
                                    <form action="{% url 'follow' to_follow_id=user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class=" btn btn-success" type="submit">Abonner</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif infos %}
            <div class="container col-md-10">
                <table class="table table-bordered mt-4">
                    <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th class="text-center">action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan='2' class="text-center">
                                    {{infos}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="container col-md-10">
            <div class="row justify-content-center">
                <h3 class="mt-4 mb-3">Abonnements</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                  <tr >
                    <th>Nom d'utilisateur</th>
                    <th class="text-center">action</th>
                  </tr>
                </thead>
                <tbody>
                    {% if followers.exists %}
                        {% for follower in followers %}
                            <tr>
                                <td>{{ follower.followed_user.username }}</td>
                                <td class="text-center">
                                    <form action="{% url 'unfollow' to_unfollow_id=follower.followed_user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class=" btn btn-danger" type="submit">Désabonner</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan='2' class="text-center">
                                Abonnez-vous à un utilisateur en le cherchant dans la barre de navigation
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

