{% extends 'review/base.html' %}

{% block content %}
    <div class="content-section col-md-8 d-flex justify-content-between">
        <a class="btn btn-outline-info" href=" {% url 'ticket' %} ">Demander une critique</a>
        <a class="btn btn-outline-info" href="{% url 'review' %}" >Créer une critique</a>
    </div>
    {% for ticket in tickets %}
        {% if ticket.reviews.all %}
            {% include 'review/review_snippet.html' %}
        {% else %}
            {% include 'review/ticket_snippet.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}