{% extends 'review/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-8">
        <form method="POST" action="{% url 'review_update' review_id=review.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Vous êtes en train de poster en réponse à</p>
            <div class="content-section">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Article/Livre</legend>
                    <p>{{ ticket.title}}</p>
                    <div>{{ ticket.description }}</div>
                    <img class="rounded mx-auto d-block" src="{{ ticket.image.url }}" height="230px">
                </fieldset>
            </div>
            <hr width=100% noshade size=8> 
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Critique</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}