<article class="media content-section col-md-8">
    <div class="media-body">
      <div class="article-metadata d-flex justify-content-between">
        <span class="text-primary mr-2" href="#">{{ ticket.user }}  <span class="text-dark">a demandé une critique</span></span>
        <small class="text-muted">{{ ticket.time_created}}</small>
      </div>
      <h2 class="article-title">{{ ticket.title}}</h2>
      <p class="article-content">{{ ticket.description }}</p>
      <div class="d-flex justify-content-between">
        <img class="rounded" src="{{ ticket.image.url }}" height="230px">
        <a class="btn btn-outline-info align-self-center" href=" {% url 'reviewTicket' ticket_id=ticket.id %} ">Créer une critique</a>
      </div>
    </div>
</article>